header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    background-color: black;
    position: relative;

    & > img {
        height: 100%;
    }

    & > nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    & ul {
        display: flex;
        list-style: none;
        gap: 10px;
    }
    
    & a {
        text-decoration: none;
        color: #c0b300;
        padding: 4px;
        position: relative;
        display: inline-block;
        
        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #c0b300;
            transition: all .2s;
        }

        &:hover::before {
            width: 100%;
        }
    }
}

#banner {
    background-image: url('image/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100dvh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: clamp(20px, 4vw, 90px);
    color: white;

    & > div {
        width: 100%;
        max-width: 394px;
    }

    & h1 {
        font-size: clamp(20px, 5vw, 32px);
        text-transform: uppercase;
        font-weight: 400;
        text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.5);
    }

    & p {
        margin-block: 14px;
        text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.5);
        font-size: clamp(16px, 3vw, 20px);
    }

    & button {
        color: black;
        border-radius: 5px;
        border: none;
        background-color: #c0b300;
        font-size: 24px;
        padding: 12px 14px;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: black;
            color: #c0b300;
        }
    }
}

#sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 40px;
    gap: 54px;

    & h3 {
        font-size: clamp(28px, 4vw, 40px);
        text-align: center;
        margin-bottom: 24px;
        font-weight: 500;
    }

    & p {
        font-size: clamp(16px, 2vw, 24px);
        text-align: justify;
        max-width: 472px;
        width: 100%;
    }
}

#colecao {
    display: flex;
    flex-direction: column;

    & > img {
        width: clamp(135px, 30vw, 258px);
        height: clamp(135px, 30vw, 258px);
        border: 10px solid white;
        border-radius: 10px;
    }

    & img:nth-child(2) {
        margin-left: 168px;
        margin-top: -90px;
    }

    & img:nth-child(3) {
        margin-top: -90px;
    }
}

#servicos {
    background-color: rgba(0, 0, 0, 0.95);
    border: 1px solid black;
    
    & > h3 {
        text-align: center;
        font-size: clamp(28px, 4vw, 40px);
        font-weight: 400;
        color: #c0b300;
        margin-block: 20px;
    }

    & > ul {
        color: #c0b300;
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 34px;
        margin-bottom: 46px;
        position: relative;

        & > .ativo::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            bottom: 0;
            background-color: #c0b300;
        }
        
        & > li {
            font-size: clamp(16px, 2vw, 20px);
            padding: 5px;
            position: relative;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                height: 1px;
                width: 0;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background-color: #c0b300;
                transition: all .2s;
            }
    
            &:hover::before {
                width: 100%;
            }
        }
    }

    & #mezanino {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-bottom: 84px;
    
        & > img {
            width: clamp(100px, 35vw, 274px);
            aspect-ratio: 1 / 1.06;
            object-fit: cover;
        }
    }
}

#maps {
    padding-block: 28px;

    & > iframe {
        width: 100%;
    }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}